body {
  font-family: 'Spectral SC', serif;
}

.container {
  margin-top: 30px;
}

h1 {
  font-size: 30px;
}



input {
  padding-left: 10px;
}

.btn-primary {
  background-color: black;
  border-style:none;

}

a:hover {
  background-color: black;
  border-style: none;
}


.searchdiv {
  text-align: center;
}


#results{
  text-align: center;
  margin-top: 50px;
}
