body {
  font-family: 'Spectral SC', serif;
  background: url(https://wallpaperscraft.com/image/room_design_library_shelves_7910_2560x1440.jpg);
  background-size: cover;
  color:white;
}

.container {
  margin-top: 30px;
}

h1 {
  font-size: 30px;
}



input {
  padding-left: 10px;
}

.btn-primary {
  background-color: black;
  border-style:none;

}

a:hover {
  background-color: black;
  border-style: none;
}

.item {
  height:250px;
  padding-top:20px;
  border-bottom:1px solid gray;
}
.item img {
  width: 128px;
  height: 200px;
  float: right;
}
.searchdiv {
  text-align: center;
}


#results{
  text-align: center;
  margin-top: 50px;
}

.col-sm-4 {
  margin-bottom: 30px;
}

.col-sm-9 {
  text-align: center;
}
.abc {
  font-size: 18px;
}
